<div class="progress-line-container" [style.height.%]="barData.nextValue">
  <div class="progress-line-now" [class.success]="successDelta" [class.failure]="!successDelta">
  </div>
</div>
<span class="value-now caption">Y</span>


<div class="progress-line-container" [style.height.%]="barData.nextValue">
  <div class="progress-line-now" [class.success]="successDelta" [class.failure]="!successDelta">
  </div>
</div>
<span class="value-now caption">M</span>


<div class="progress-line-container" [style.height.%]="barData.nextValue">
  <div class="progress-line-now" [class.success]="successDelta" [class.failure]="!successDelta">
  </div>
</div>
<span class="value-now caption">{{ barData.nextDate }}</span>
