  <nb-card-front>
    <nb-card size="big">
      <asset-cards-header [type]="stockType"></asset-cards-header>
      <asset-card-body [frontCardData]="stockListData"></asset-card-body>
    </nb-card>
  </nb-card-front>
  <nb-card-front>
    <nb-card size="big">
      <asset-cards-header [type]="ETFType"></asset-cards-header>
      <asset-card-body [frontCardData]="ETFListData"></asset-card-body>
    </nb-card>
  </nb-card-front>
  <nb-card-front>
    <nb-card size="big">
      <asset-cards-header [type]="cryptoType"></asset-cards-header>
      <asset-card-body [frontCardData]="cryptoListData"></asset-card-body>
    </nb-card>
  </nb-card-front>
