@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/breakpoints';
@import '../../../../@theme/styles/themes';

@include nb-install-component() {
  overflow: auto;

  .item {
    display: flex;
    justify-content: space-between;
    align-items: center;

    > * {
      flex: 1;
    }

    &:first-child {
      border-top: none;
    }
  }

  .delta {
    display: flex;
    align-items: right;

    &.down {
      color: nb-theme(color-danger-default);
    }

    &.up {
      color: nb-theme(color-success-default);
    }
  }

  .stock-container {
    position: relative;
    display: flex;
    align-items: center;
  }

  .img-container {
    height: 70px;
    width: 70px;
    display: flex;
    justify-content: center;
    overflow: hidden;
    position: relative;
    border: solid 1px  #edf1f7;
    background-color: #edf1f7;
    border-radius: 6px;
    object-fit: cover;
  }
  .stock-picture {
    position: relative;
    flex-shrink: 0;

    &.image {
      display:block;
      margin:auto;
      position: absolute;
      max-width: 70%;
      height: auto;
      width: auto;
      object-fit: cover;
      align-self: center;
      background-size: cover;
      background-repeat: no-repeat;
    }

    &.initials {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .value {
    text-shadow: grey;
    font-weight: bold;
    font-size: larger;
  }
  .stock-name {
    font-size: large;
  }

  .stock-info {
    font-size: small;
    color: grey;
  }

  .stock-name,
  .stock-info {
    @include nb-rtl(text-align, right);
  }
  .name-container {
    @include nb-ltr(margin-left, 0.5rem);
    @include nb-rtl(margin-right, 0.5rem);
  }
  .monetary-container {
    @include nb-ltr(margin-left, 0.5rem);
    @include nb-rtl(margin-right, 0.5rem);
    justify-content: right;
    text-align: right;
    align-content: right;
  }

  .info-price {
    text-align: right;
    justify-content: right;
  }
  
  .delta {
      justify-content: right;
      display: inline;
  }
  
  @include media-breakpoint-down(is) {
    ngx-traffic-bar {
      display: none;
    }
  }
}
