<nb-list>
  <nb-list-item class="item" *ngFor="let item of frontCardData; trackBy: trackByDate">
    <span>
      <div class="stock-container">
        <div class="img-container">
          <img class="stock-picture image" src="{{ item.img }}">
        </div>
     
        <div class="name-container">
          <div class="stock-name">{{ item.assetName }} ( {{ item.ticker }} )</div>
          <div class="stock-info"> {{ item.market }} | {{ item.broker }} </div>
        </div>
      </div>
    </span>
    <span> 
      <period-bar [barData]="item.comparison" [successDelta]="item.delta.up"></period-bar>
    </span>

    <span class="monetary-container">
      <div>
        {{ item.ownedShares }} shares * {{ item.value }} € = <span class="value">{{ item.totalValue }} € </span>
      </div>
      
      <div class="delta" [class.up]="item.delta.up" [class.down]="!item.delta.up">
        +{{ item.gains }}€
        <nb-icon [icon]="item.delta.up ? 'arrow-up' : 'arrow-down'" pack="eva"></nb-icon>
        {{ item.gainsPercent }}% 
      </div>
       
    </span>
  </nb-list-item>
</nb-list>
