  <nb-card-front>
    <nb-card size="big">
      <nb-card-header>
        <span>Amazon ({{ ticker }}) price chart</span>
      </nb-card-header>
      <nb-card-body>
        Some fancy graph
      </nb-card-body>
    </nb-card>

    <nb-card size="big">
      <nb-card-header>
        <span>Amazon ({{ ticker }}) financial data</span>
      </nb-card-header>
      <nb-card-body>
        <div class="container-fluid">
          <div class="row" style="align-items: center;">
            <div class="col-xxxl-3 col-xxl-4 col-lg-5 col-md-6">
              Price: 32423€
            </div>
            <div class="col-xxxl-3 col-xxl-4 col-lg-5 col-md-6">
              G/P: gains€
            </div>
            <div class="col-xxxl-3 col-xxl-4 col-lg-5 col-md-6">
              +/- Hoy: 123€
            </div>
            <div class="col-xxxl-3 col-xxl-4 col-lg-5 col-md-6">
              Market cap: 4€
            </div>
            <div class="col-xxxl-3 col-xxl-4 col-lg-5 col-md-6">
              Ultima: 21:55:00 UTM +1
            </div>
          </div>          
        </div>
      </nb-card-body>
    </nb-card>
  </nb-card-front>